@*creado en paso 1 *@
@model List<tl2_tp8_2025_Clari002.Models.Presupuestos>

@{
    ViewData["Title"] = "Listado de Presupuestos";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Destinatario</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>@*agregado para que se vea Ver Detalle*@
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdPresupuesto</td>
                <td>@p.NombreDestinatario</td>
                <td>@p.FechaCreacion.ToShortDateString()</td>
                @*Agregado de paso 2 para ver detalle*@
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id= "@p.IdPresupuesto">Ver Detalle</a>
                    @*agrego de paso 3 eliminar*@
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@p.IdPresupuesto">Eliminar</a>
                    @*agrego para editar*@
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@p.IdPresupuesto" >Editar</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-success">+ Nuevo Presupuesto</a>
</p>
